
<main class="main">
  <div class="content">
    <div class="left-side">
      <ul class="nav">
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="/list">Project</a></li>
        <li><a routerLink="/create">CreateProject</a></li>
        <li><a routerLink="/create-task">Create-task</a></li>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/register">Register</a></li>
      </ul>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
  </div>
</main>
<router-outlet />
