<div class="container">
    <form #edit="ngForm" (ngSubmit)="onEdit(edit.value)">
        <div>
            <label for="" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="oldProject.name">
            <!-- khai báo name="" và ngModel cho các ô input -->
        </div>
        <div>
            <label for="" class="form-label">Description</label>
            <input type="text" class="form-control" name="description" [(ngModel)]="oldProject.description">
            <!-- khai báo name="" và ngModel cho các ô input -->
        </div>
        <div>
            <label for="" class="form-label">TeamSize</label>
            <input type="number" class="form-control" name="teamSize" [(ngModel)]="oldProject.teamSize">
            <!-- khai báo name="" và ngModel cho các ô input -->
        </div>
        <div>
            <label for="dateOfStart" class="form-label">Date of Start</label>
            <input type="datetime-local" id="dateOfStart" class="form-control" name="dateOfStart" [(ngModel)]="oldProject.dateOfStart">
            <!-- khai báo name="" và ngModel cho các ô input -->
        </div>
        <input type="submit" class="btn btn-success mt-2 mx-auto d-block"  value="Sửa">
    </form>
</div>
